<html>
<head>
<title>AngularJs App</title>
<script src="../FirstAngularAppJSFiles/angular.js"></script>
<script src="../FirstAngularAppJSFiles/sajs.js"></script>

<style type="text/css" >
div.tit{background-color:lightblue; color:orange; font-size:200%;}
div.order{background-color:lightgreen; font-size:200%}
div.idli{background-color:orange;font-size:200%; width:33.3333%; height:30%}
div.dosa{background-color:lime; font-size:200%; width:33.3333%; height:30%; }
div.vada{background-color:aqua; font-size:200%; width:33.3333%; height:30%}
div.vegbiryani{background-color:yellow; font-size:200%; width:33.3333%; height:30%}
div.vegpulav{background-color:green; font-size:200%; width:33.3333%; height:30%}
div.friedrice{background-color:red; font-size:200%; width:33.3333%; height:30%}
div.total{background-color:pink; font-size:200%}
</style>
</head>
<body ng-app ng-controller="ControllerOrder">
<div class="tit">
<center><h1>Ordered Items Info.</h1>
</div>
<div class="order">
<center><label>Choose your items:</label>
<select style="font-size:75%" ng-model="item">
 <option ng-repeat="it in items">{{it.itemName}}</option>
</select>
<label>Number of plates:</label>
<select style="font-size:75%" ng-model="num">
 <option ng-repeat="n in numbers">{{n.number}}</option>
</select>
<button ng-click="update()" style="font-size:75%">Order</button>
</div></center>
<br><br>
<div class="tiffins">
 <div class="idli" style="float:left">
  <center><h1>IDLY</h1>
  <h5>Number:{{countIdly}}</h5>
 </div>
 <div class="dosa" style="float:left">
  <center><h1>DOSA</h1>
  <h5>Number:{{countDosa}}</h5>
 </div>
 <div class="vada" style="float:left">
  <center><h1>VADA</h1>
  <h5>Number:{{countVada}}</h5>
 </div>
</div>
<div class="rice">
 <div class="vegbiryani" style="float:left">
  <center><h1>VEG BIRYANI</h1>
  <h5>Number:{{countVegB}}</h5>
 </div>
 <div class="vegpulav" style="float:left">
  <center><h1>VEG PULAV</h1>
  <h5>Number:{{countVegP}}</h5>
 </div>
 <div class="friedrice" style="float:left">
  <center><h1>FRIED RICE</h1>
  <h5>Number:{{countFR}}</h5>
 </div>
</div>

<br>
<div class="total">
<center><h3>Total number of orders today:{{total}}</h3></center>
</div>

</body>
</html>
